<%- include("partials/header") %>
<h1>Contact</h1>
<p class="post-content paragraph newFontFamily"><%= contactContent%></p>
<p class="post-content paragraph newFontFamily">
    <a href='https://www.linkedin.com/in/truong-phu-vu/' target='_blank'>Truong Vu's LinkedIn</a>
</P>
<p class="post-content paragraph newFontFamily">
    <a href='https://github.com/phuvu0107' target='_blank'>Truong Vu's GitHub</a>
</P>
<%- include("partials/footer") %>
